In [2]:
import numpy as np
import pandas as pd

In [3]:
data= pd.read_csv('dataset/play_tennis.csv')
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [4]:
data.drop(columns=['day'],inplace=True)

In [5]:
data.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [7]:
data['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [9]:
py= 9/14 # probablity of yes
pn= 5/14 # probablity of no

py, pn

(0.6428571428571429, 0.35714285714285715)

In [10]:
pd.crosstab(data['outlook'], data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [42]:
P_Overcast_No= 0/ 5 # probablity of overcast for play no
P_Rain_No= 2/ 5     # probablity of rain for play no
P_Sunny_No= 3/ 5    # probablity of sunny for play no

In [27]:
P_Overcast_Yes= 4/ 9 # probablity of overcast for play yes
P_Rain_Yes= 3/ 9     # probablity of rain for play yes
P_Sunny_Yes= 2/ 9    # probablity of sunny for play yes

In [28]:
pd.crosstab(data['temp'], data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [29]:
P_Cool_No= 1/ 5 # probablity of cool for play no
P_Hot_No= 2/ 5  # probablity of hot for play no
P_Mild_No= 2/ 5 # probablity of mild for play no

In [30]:
P_Cool_Yes= 3/ 9 # probablity of cool for play yes
P_Hot_Yes= 2/ 9  # probablity of hot for play yes
P_Mild_Yes= 4/ 9  # probablity of mild for play no

In [31]:
pd.crosstab(data['humidity'], data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [32]:
P_High_No= 4/ 5 # probablity of high humidity for play no
P_Normal_No= 1/ 5 # probablity of normal humidity for play no

In [33]:
P_High_Yes= 3/ 9 # probablity of high humidity for play yes
P_Normal_Yes= 6/ 9 # probablity of normal humidity for play yes

In [34]:
pd.crosstab(data['wind'], data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [35]:
P_Strong_No= 3/ 5 # probablity of strong wind for play no
P_Weak_No= 2/ 5 # probablity of weak wind for play no

In [36]:
P_Strong_Yes= 3/ 9 # probablity of strong wind for play no
P_Weak_Yes= 6/ 9 # probablity of weak wind for play yes

In [37]:
# Query 1: 
# Given : Current day -> sunny day, mild temp, humidity normal, wind strong
# Question : Should I play the match today ???

In [40]:
P_Y= py*P_Sunny_Yes*P_Mild_Yes*P_Normal_Yes*P_Strong_Yes;
P_Y

0.014109347442680775

In [43]:
P_N= pn*P_Sunny_No*P_Mild_No*P_Normal_No*P_Strong_No;
P_N

0.010285714285714285

In [45]:
if P_Y > P_N :
    print("You can play today .....")
else :
    print("You should not play today .....")

You can play today .....

In [46]:
# Query 2: 
# Given : Current day -> rainy day, cool temp, humidity high, wind strong
# Question : Should I play the match today ???

In [50]:
P_Y= py*P_Rain_Yes*P_Cool_Yes*P_High_Yes*P_Strong_Yes;
P_Y

0.007936507936507936

In [51]:
P_N= pn*P_Rain_No*P_Cool_No*P_High_No*P_Strong_No;
P_N

0.013714285714285719

In [52]:
if P_Y > P_N :
    print("You can play today .....")
else :
    print("You should not play today .....")

You should not play today .....

In [64]:
from sklearn.model_selection import train_test_split

In [66]:
X= data.iloc[:, 0:4]
Y= data.iloc[:, -1]

In [67]:
X_train, X_test, Y_train, Y_test= train_test_split(X, Y, test_size= 0.2,random_state= 2)

In [76]:
from sklearn.naive_bayes import GaussianNB

In [79]:
nb= GaussianNB()

In [80]:
nb.fit(X_train, Y_train)

ValueError: could not convert string to float: 'Sunny'